body {
    font-family: 'Roboto Mono', monospace;
    background-color: #204048; /*#CFD8DC*/
    color: #fff;
}

#allOut.hideBottom {
    position: fixed;
    top: 100%;
}

#allOut {
    top: 2.5%;
    width: 70%;
    left: 15%;
    right: 15%;
}

#allIn, #allOut {
    background-color: #30606c; /*#ECEFF1*/
    position: fixed;
    height: 95%;
    border-radius: 5px;
    box-shadow: 0 3px 100px rgba(0,0,0,0.06), 0 3px 100px rgba(0,0,0,0.13);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

#allIn {
    min-height: 270px;
    min-width: 460px;
    width: 30%;
    left: 35%;
    right: 35%;
    top: 20%;
    height: 35%;
}

#allIn.hideTop {
    top: -100%
}

#allIn:hover, #allOut:hover {
    box-shadow: 0 3px 100px rgba(0,0,0,0.32), 0 3px 100px rgba(0,0,0,0.46);

}

#content {
    position: relative;
    left: 5%;
    top: 10px;
    width: 90%;
    right: 5%;
    height: 95%;
    overflow-y: auto;
}

#content.smaller {
    height: 88%;
}

.hide {
    display: none;
}










/* form starting stylings ------------------------------- */
.group { 
    margin-top: 17px;
    position:relative; 
    margin-bottom:45px; 
    width: 95%;
}
input {
    background-color: rgba(0,0,0,0);
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}
input:focus {
    outline:none; 
}

/* LABEL ======================================= */
label 				 {
    color: rgba(255, 255, 255, 0.5); 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}



/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#fff;
}

/* BOTTOM BARS ================================= */
.bar {
    position:relative; 
    display:block; 
    width: 100%; 
}

.bar:before, .bar:after {
    content:'';
    height:5px; 
    width:0;
    bottom:0px; 
    position:absolute;
    background:#fff; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:55%;
}



/*Button*/

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	padding: 1em 2em;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 40px;
	font-weight: 600;
	border: 2px solid;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	overflow: hidden;
	min-width: 180px;
	color: #fff; /*#37474f*/
	border-color: rgba(255, 255, 255, 0.5); /*#37474f*/
}

.button:focus {
	outline: none;
}

.button > span {
	vertical-align: middle;
}


.button::before,
.button::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	background: #4c7661; /*#fff*/
    color: rgba(255, 255, 255, 0.5); /*#37474f*/
}
.button::before {
	top: 0;
	padding-top: 1em;
}
.button::after {
	bottom: 0;
	line-height: 0;
}
.button > span {
	display: block;
	-webkit-transform: scale3d(0.2, 0.2, 1);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover::before {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button:hover > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button.success::before {
    -webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button.success::after {
    -webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button.success > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#genButton {
    min-width: 400px;
    width: 100%;
}

#backButton {
    min-width: 100px;
    position: absolute;
    top: 91%;
    right: 10px;
    cursor: pointer;
}

#showButton {
    min-width: 300px;
    position: absolute;
    top: 91%;
    left: 10px;
    cursor: pointer;
}

#showButton.hide {
    display: none;
}



/*---Error States---*/

#rwyEndOne.error, #rwyEndTwo.error {
    border-bottom: 1px solid rgba(224, 128, 128, 0.7);
    color: rgb(224, 128, 128);
}

#rwyEndOne.error ~ label {
    color: rgba(224, 128, 128, 0.7);
}

#rwyEndTwo.error ~ label {
    color: rgba(224, 128, 128, 0.7);
}

#rwyEndOne.error:focus ~label, #rwyEndOne.error:valid ~ label {
    color: rgb(238, 147, 147);
}

#rwyEndTwo.error:focus ~label, #rwyEndTwo.error:valid ~ label {
    color: rgb(238, 147, 147);
}

#rwyEndOne.error ~ .bar:before, #rwyEndOne.error ~ .bar:after {
    background-color: rgb(224, 128, 128);
}

#rwyEndTwo.error ~ .bar:before, #rwyEndTwo.error ~ .bar:after {
    background-color: rgb(224, 128, 128);
}